//Colors:

$primary-color: #EAE9FD;
$white-color: #FFFFFF;
$black-color: #090909;
$secondary-color: #3032E6;


//Fonts:
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$font-family: 'Montserrat', sans-serif;
$font-bold: 700;
