// Import variables
@import './variables';

//Import UI scss files
@import '../UI/ColorCircle/single/singleColorCircle.scss';
@import '../UI/Cards/whiteCard.scss';
@import '../UI/Buttons/rectangle/rectangleButton.scss';
@import '../UI/inputTextField/InputTextField.scss';
@import '../UI/Buttons/primary/primaryButton.scss';



// global styles
.app-container {
  padding-right: 0;
  padding-left: 0;
}

.second-column {
  background-color: $primary-color;
  height: 100%;
}


.scrollable-row {
  max-height: calc(100vh - 100px); /* Adjust 100px to the height of any fixed header or padding */
  overflow-y: auto;
}
