// Import variables
@import './variables';

//Import UI scss files
@import '../UI/Cards/whiteCard.scss';
@import '../UI/Buttons/rectangle/rectangleButton.scss';
@import '../UI/inputTextField/InputTextField.scss';
@import '../UI/Buttons/primary/primaryButton.scss';
@import '../UI/ColorCircle/circleColor.scss';
@import '../components/ColorList/colorListItem.scss';

// global styles
.app-container {
  padding-right: 0;
  padding-left: 0;

  @media (max-width: 768px) {
    .first-column {
      order: 2;
    }
    .second-column {
      order: 1;
    }
  }
}

.second-column {
  background-color: $primary-color;
  height: 100vh;

  @media (max-width: 768px) {
    height: auto;
  }
}

.scrollable-row {
  max-height: calc(100vh - 220px);
  overflow-y: auto;
}

body {
  font-family: $font-family;
  p{
    margin: 0;
  }
}

.bold{
  font-weight: $font-bold;
}
