.white-card{
  width: 100%;
  min-height: 5rem;
  border: none !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $white-color;
}
