.white-card{
  width: 100%;
  min-height: 7rem;
  border: none !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $white-color;
  position: relative;
}

.card-text {
  position: absolute;
  top: 10px;
  left: 10px;
  margin: 0;
  font-size: 0.9rem;
  color: grey;
}
