.rectangle-button{
  background-color: $white-color !important;
  color: $black-color !important;
  border-top: none !important;
  border-right: none !important;
  border-bottom: none !important;
  border-radius: 0% !important;
  padding: 0.7rem 1.3rem !important;
}
